In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/dd_18/Documents/Python_para_data_science/DataScience_notes/2008.csv")

Groupby
Es una herramienta de resumen de nuestros datos que nos permite realizar operaciones matem√°ticas sencillas agrupando por categorias.

In [2]:
df.groupby(by = "DayOfWeek")["ArrDelay"].max()
# El groupby nos agrupa por cada dia de la semana y nos da un valor de los retrasos de los vuelos y le aplica una funcion
# en este caso el maximo

DayOfWeek
1    1583.0
2    1951.0
3    1510.0
4    2453.0
5    1707.0
6    1525.0
7    2461.0
Name: ArrDelay, dtype: float64

El retraso maximo que ha tenido cada dia de la semana en toda nuestra base de datos

In [3]:
# Otras funciones que podriamos aplicar son
df.groupby(by = "DayOfWeek")["ArrDelay"].mean() # nos da la media de retraso para cada dia de la semana

DayOfWeek
1     8.210850
2     7.481208
3     6.522017
4     8.411599
5    10.953440
6     5.789666
7     9.495886
Name: ArrDelay, dtype: float64

In [4]:
df.groupby(by = "DayOfWeek")["ArrDelay"].min()

DayOfWeek
1   -519.0
2    -89.0
3    -87.0
4   -129.0
5    -86.0
6    -91.0
7    -92.0
Name: ArrDelay, dtype: float64

In [5]:
df.groupby(by = "DayOfWeek")["ArrDelay"].count() # numero de vuelos por dia de la semana

DayOfWeek
1    1013410
2    1005992
3    1016995
4    1011970
5    1008872
6     841663
7     956127
Name: ArrDelay, dtype: int64

In [6]:
df.groupby(by = "DayOfWeek")["ArrDelay"].describe() # nos ofrece un resumen estadistico para cada dia de la semana  min 43:51

               count       mean        std    min   25%  50%   75%     max
DayOfWeek
1          1013410.0   8.210850  38.013811 -519.0 -10.0 -2.0  12.0  1583.0
2          1005992.0   7.481208  38.361073  -89.0 -11.0 -3.0  11.0  1951.0
3          1016995.0   6.522017  36.024679  -87.0 -10.0 -3.0  10.0  1510.0
4          1011970.0   8.411599  37.397411 -129.0 -10.0 -1.0  12.0  2453.0
5          1008872.0  10.953440  40.252320  -86.0  -9.0  0.0  15.0  1707.0
6           841663.0   5.789666  37.163120  -91.0 -11.0 -3.0   9.0  1525.0
7           956127.0   9.495886  41.759296  -92.0 -10.0 -2.0  12.0  2461.0

In [8]:
df.groupby(by = "DayOfWeek")[["ArrDelay", "DepDelay"]].mean()
#se muestra el promedio del ArrDelay y DepDelay de cada dia en dos columnas diferentes para poder compararlos

            ArrDelay   DepDelay
DayOfWeek
1           8.210850  10.269990
2           7.481208   8.976897
3           6.522017   8.289761
4           8.411599   9.772897
5          10.953440  12.158036
6           5.789666   8.645681
7           9.495886  11.568973

In [9]:
df.groupby(by = "DayOfWeek")["ArrDelay"].max() - df.groupby(by = "DayOfWeek")["ArrDelay"].min()
#Podemos realizar operaciones entre grupos, en este caso se resta el maximo al minimo del ArrDelay para cada dia de la semana
#de esta manera ponemos observar el rango de valores para cada dia de la semana, ver cual es mas o menos amplio

DayOfWeek
1    2102.0
2    2040.0
3    1597.0
4    2582.0
5    1793.0
6    1616.0
7    2553.0
Name: ArrDelay, dtype: float64

In [11]:
dfATLHOU = df[df.Origin.isin(["ATL", "HOU"])] 
#nuevo data frame solo de vuelos de atlanta y houston

In [12]:
dfATLHOU.groupby(by = ["DayOfWeek", "Origin"])["ArrDelay"].mean()
# vemos para cada dia de la semana los vuelos que salen de atlanta y los que salen de houston con la media de sus retrasos

DayOfWeek  Origin
1          ATL        9.123436
           HOU        6.356856
2          ATL        8.933587
           HOU        9.348112
3          ATL        8.809146
           HOU        9.073109
4          ATL       10.186501
           HOU       12.994016
5          ATL       14.797440
           HOU       11.036545
6          ATL        9.511662
           HOU        4.283933
7          ATL       13.798627
           HOU        7.045287
Name: ArrDelay, dtype: float64

In [13]:
dfATLHOU.groupby(by = ["Origin", "DayOfWeek"])["ArrDelay"].mean()
#vemos en ambas ciudades la media del retraso por cada dia de la semana, invertimos la lista en by =

Origin  DayOfWeek
ATL     1             9.123436
        2             8.933587
        3             8.809146
        4            10.186501
        5            14.797440
        6             9.511662
        7            13.798627
HOU     1             6.356856
        2             9.348112
        3             9.073109
        4            12.994016
        5            11.036545
        6             4.283933
        7             7.045287
Name: ArrDelay, dtype: float64

In [14]:
mygroupby = dfATLHOU.groupby(by = ["Origin", "DayOfWeek"])["ArrDelay"]
#Los objetos groupby se pueden almacenar en variables

In [15]:
mygroupby.max()
#ahora podemos modificar directamente la funcion aplicada sobre la variable del groupby, lo que es mas r√°pido

Origin  DayOfWeek
ATL     1             407.0
        2             848.0
        3             876.0
        4             571.0
        5             699.0
        6             483.0
        7             612.0
HOU     1             383.0
        2             546.0
        3             639.0
        4            1082.0
        5             560.0
        6             917.0
        7             685.0
Name: ArrDelay, dtype: float64